.file{
  cursor: pointer;
  background-color: #a8adad;
  display: flex;
  justify-content: space-between;
  width: 380px;
  padding-left: 5px;
  margin-top: 5px;

}
.folder{
  cursor: pointer;
  background-color: #cfd7d8;
  width: 400px;
  margin-top: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.folder > span{
  margin: 0 5px 2px 0;
}
button{
  margin-left: 2px;
  cursor: pointer;
}
.action-buttons{
  /* color: black; */
  font-weight: bold;
}
.inputContainer{
  display: flex;
  align-items: center;
  gap: 5px;
}
.inputContainer > span{
  margin-top: 5px;
}
.inputContainer__input{
  margin: 6px 0 0 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid lightgray;
}
